<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">누구나 인공지능 기술을 누워서 떡먹듯 활용하는 그 날을 위하여</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Before founding-2020</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        준비의 시간, 사람과 생각을 모으다.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2020</h4>
                                    <h4 class="subheading">GazziLabs is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">코로나19로 세상이 떠들썩하던 2020년 5월 13일,<br>가치랩스 - 여정을 시작하다.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/12.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2020</h4>
                                    <h4 class="subheading">Seed Funding</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        엔젤투자 4인 투자유치 확정<br>(블루오션 포럼)
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/15.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Aug 2020</h4>
                                    <h4 class="subheading">Award Winning - Grand Prize!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        제 2회 과천시 창업아이디어 경진대회 대상 수상!<br>(과천시창업·상권활성화센터 주관)<br>
                                        2020년 대한민국 지속가능 혁신리더 대상 4차산업 부문<br>대한민국 국회 과학기술정보방송통신위원회 윈원장 표창
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/17.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Dec 2020</h4>
                                    <h4 class="subheading">Seed Funding</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        한국벤처투자(KVIC) 투자유치 확정<br>(투자유치 총액 6.3억 KRW)
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/11.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Jan 2021</h4>
                                    <h4 class="subheading">Venture Business Certified</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        벤처기업확인 (확인유형: 벤처투자기업)<br>(한국벤처캐피탈협회)
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Now and Future</h4>
                                    <h4 class="subheading">Move Forward</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">큰 산을 오르듯 -<br>차곡차곡 그리고 차근차근 정중동의 걸음을 옮기다.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>