<!-- About Section -->
<div class="row" style="background-color: #182D56; padding:50px;">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <div style="display: inline-block; margin-bottom: 20px;">
            <i class="fa fa-dot-circle-o fa-2x fa-inverse" aria-hidden="true"></i>
        </div>
        <p class="large text-muted" style="color:#fff;">가치랩스는 영상처리 및 머신러닝 기술을 바탕으로 방송통신분야와 미디어 아카이브를 대상으로 대규모 비디오
            데이터
            처리를<br> 위한 응용 시스템 분야에서 수년간
            연구개발 실무를 수행한 전문가들이 주축이 되어 시작하였습니다. 인공지능 기술을 보다 손쉽게,<br> 그리고 설명 가능한 방식으로 누구나 이용할 수 있도록 돕는 것이 우리의 목표입니다.
        </p>

    </div>
</div>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color: #182D56;">About</h2>
                <h3 class="section-subheading text-muted">누구나 인공지능 기술을 누워서 떡먹듯 활용하는 그 날을 위하여</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <!--Edited 20221024 - 장기헌 - add history - START-->
                <h2 class="section-heading text-center" style="color: #182D56;">2020</h2>
                <table class="table" style="color: #777; font-size:14px;">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 80%;">
                    </colgroup>
                    <tr>
                        <td class="hist_mount">MAY</td>
                        <td>GazziLabs is Born 2020년 5월 13일, 가치랩스 - 여정을 시작하다.</td>
                    </tr>
                    <tr>
                        <td class="hist_mount">JUNE</td>
                        <td>Seed Funding 엔젤투자 4인 투자유치 확정 (블루오션 포럼)</td>
                    </tr>
                    <tr>
                        <td class="hist_mount">AUG</td>
                        <td>Award Winning - Grand Prize!<br>
                            - 제 2회 과천시 창업아이디어 경진대회 대상 수상! (과천시창업·상권활성화센터 주관)<br>
                            - 2020년 대한민국 지속가능 혁신리더 대상 4차산업 부문 (대한민국 국회 과학기술정보방송통신위원회 윈원장 표창)<br>
                            -중소기업 확인 (중소벤처기업부장관)</td>
                    </tr>
                    <tr>
                        <td class="hist_mount">DEC</td>
                        <td>Seed Funding 한국벤처투자(KVIC) 투자유치 확정 (투자유치 총액 6.3억 KRW)</td>
                    </tr>
                </table>
                <h2 class="section-heading text-center" style="color: #182D56;">2021</h2>
                <table class="table" style="color: #777; font-size:14px;">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 80%;">
                    </colgroup>
                    <tr>
                        <td class="hist_mount">FEB</td>
                        <td>Certified Supplier<br>
                            정보통신산업진흥원 AI바우처 지원사업 공급기업 Pool 등록<br>
                            한국데이터산업진흥원 데이터바우처 지원사업 공급기업 지정<br>
                            경희대학교 인공지능대학원 정보통신·방송 연구개발사업 협력 MOU 체결 (정보통신기획평가원)
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">MAR</td>
                        <td>R&D Center Founded<br>
                            한국산업기술진흥협회 기업부설연구소 인정<br>
                            경희대학교 계약학과(소프트웨어융합학과, 석사과정) 설치운영 협약 체결 (정보통신기획평가원)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">APR</td>
                        <td>정보통신산업진흥원 2021년 AI바우처 지원사업 수주 (공급기업)<br>
                            한국연구개발서비스협회 연구개발서비스업 신고
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">MAY</td>
                        <td>중소벤처기업부 초기창업패키지 지원기업 선정
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">JUNE</td>
                        <td>NIA 2021년 인공지능 학습용 데이터 구축사업 과제 3건 수주 (컨소시엄 참여, 데이터 정제 및 유효성 검증 모델 개발)<br>
                            부설연구소 확장 이전 (안양 아이에스비즈타워)
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">JULY</td>
                        <td>투자 유치(인하비룡 개인투자조합 1호)
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">OCT</td>
                        <td>중소벤처기업부 2021년 창업성장기술개발사업 디딤돌(첫걸음, 2차) 과제 선정
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">DEC</td>
                        <td>정보통신기획평가원장 표창 (안기옥 대표)
                        </td>
                    </tr>
                </table>
                <h2 class="section-heading text-center" style="color: #182D56;">2022</h2>
                <table class="table" style="color: #777; font-size:14px;">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 80%;">
                    </colgroup>
                    <tr>
                        <td class="hist_mount">APR</td>
                        <td>정보통신산업진흥원 2022년 AI바우처 지원사업 수주 (공급기업)
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">MAY</td>
                        <td>Grand ICT 컨설팅 지원사업 과제 선정 (컨설팅 기관)
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">JUNE</td>
                        <td>NIA 2022년 인공지능 학습용 데이터 구축사업 과제 3건 수주 (컨소시엄 참여, 데이터 정제 및 유효성 검증 모델 개발)<br>
                            전문연구사업자 신고 (과학기술정보통신부장관)
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">AUG</td>
                        <td>2022년 상반기 성남시 청년 고용 우수기업 선정
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">OCT</td>
                        <td>2022 Gazzilabs Open Seminar
                        </td>
                    </tr>
                </table>
                <!--Edited 20221024 - 장기헌 - add history - END-->



            </div>
        </div>
    </div>
</section>