<!-- About Section -->
<div class="row" style="background-color: #182D56; padding:50px;">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <div style="display: inline-block; margin-bottom: 20px;">
            <i class="fa fa-dot-circle-o fa-2x fa-inverse" aria-hidden="true"></i>
        </div>
        <p class="large text-muted" style="color:#fff;">가치랩스는 영상처리 및 머신러닝 기술을 바탕으로 방송통신분야와 미디어 아카이브를 대상으로 대규모 비디오
            데이터
            처리를<br> 위한 응용 시스템 분야에서 수년간
            연구개발 실무를 수행한 전문가들이 주축이 되어 시작하였습니다. 인공지능 기술을 보다 손쉽게,<br> 그리고 설명 가능한 방식으로 누구나 이용할 수 있도록 돕는 것이 우리의 목표입니다.
        </p>

    </div>
</div>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="color: #182D56;">About</h2>
                <h3 class="section-subheading text-muted">AI에 가치를 더하여, 고객의 핵심 가치를 실현하는 열정과 혁신</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <!--add history - START-->
                <!--Edited 20221024 - 장기헌 START-->
                <h2 class="section-heading text-center" style="color: #182D56;">2020</h2>
                <table class="table" style="color: #777; font-size:14px;">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 80%;">
                    </colgroup>
                    <tr>
                        <td class="hist_mount">MAY</td>
                        <td>GazziLabs is Born<br>
                            - 2020년 5월 13일, 여정을 시작하다.<br>
                            예비창업 패키지 지원기업 선정 (창업진흥원, 최우수 졸업)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">JUN</td>
                        <td>Seed Funding<br>
                            엔젤투자 4인 투자유치 확정 (블루오션 포럼)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">AUG</td>
                        <td>Award Winning - Grand Prize!<br>
                            - 제 2회 과천시 창업아이디어 경진대회 대상 수상 (과천시창업·상권활성화센터)<br>
                            과학기술정보방송통신위원회 윈원장 표창 (대한민국 국회)<br>
                            - 2020년 대한민국 지속가능 혁신리더 대상 4차산업 부문 (안기옥 대표) <br>
                            중소기업 인정 (중소벤처기업부장관)<br>
                            "콘텐츠 품질검사 기술" 기술실시권 계약 (KBS, 공동소유)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">SEP</td>
                        <td>2020년 학점은행제 및 정보공시 시스템 개선 고도화 사업 (국가평생교육진흥원, 컨소시엄 참여)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">NOV</td>
                        <td>Patents and Copyrights<br>
                            - 특허출원 1건 (특허청, 10-2020-0156678)<br>
                            - 소프트웨어 저작권(컴퓨터프로그램저작물) 등록 3건 (한국저작권위원회)<br>
                            &nbsp&nbsp제C-2020-043931, 제C-2020-044632, 제C-2020-044631
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">DEC</td>
                        <td>Seed Funding<br>
                            한국벤처투자(KVIC) 투자유치 확정 (투자유치 총액 6.3억 KRW)<br>
                        </td>
                    </tr>
                </table>
                <h2 class="section-heading text-center" style="color: #182D56;">2021</h2>
                <table class="table" style="color: #777; font-size:14px;">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 80%;">
                    </colgroup>
                    <tr>
                        <td class="hist_mount">JAN</td>
                        <td>벤처기업 확인 (한국벤처캐피탈협회)<br>
                            Hawkeye 통합 유지보수 사업 (KBS, 국가기록원, KT Skylife)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">FEB</td>
                        <td>Certified Supplier<br>
                            - AI바우처 지원사업 공급기업 Pool 등록 (정보통신산업진흥원 NIPA)<br>
                            - 데이터바우처 지원사업 공급기업 Pool 등록 (한국데이터산업진흥원 K-DATA)<br>
                            경희대학교 인공지능대학원 정보통신·방송 연구개발사업 협력 MOU 체결 (정보통신기획평가원)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">MAR</td>
                        <td>R&D Center Founded<br>
                            기업부설연구소 설립 (과학기술정보통신부/한국산업기술진흥협회 Koita)<br>
                            경희대학교 계약학과(소프트웨어융합학과, 석사과정) 설치운영 협약 체결 (정보통신기획평가원)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">APR</td>
                        <td>2021년 AI바우처 지원사업 수주 (정보통신산업진흥원 NIPA, 공급기업 참여)<br>
                            - "식품 리테일 상품추천 및 수요예측 인공지능(AI) 솔루션 개발" 공급<br>
                            연구개발서비스업 신고 (과학기술정보통신부/한국연구개발서비스협회)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">MAY</td>
                        <td>초기창업패키지 지원기업 선정 (창업진흥원/인하대학교, 최우수 졸업)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">JUN</td>
                        <td>2021년 인공지능 학습용 데이터 구축사업 3건 수주 (한국지능정보사회진흥원 NIA, 컨소시엄 참여)<br>
                            - 데이터 정제 및 유효성 검증모델 개발 수행<br>
                            - "고양시 태권도 데이터" (우수 평가)<br>
                            - "반려동물 안구 및 피부질환 데이터"<br>
                            - "영유아 행동 영상 데이터"<br>
                            기업부설연구소 확장 이전 (성남 판교 > 안양 아이에스비즈타워)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">JUL</td>
                        <td>Seed Funding<br>
                            - 인하비룡 개인투자조합 1호 투자유치<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">NOV</td>
                        <td>2021년 창업성장기술개발사업 디딤돌(첫걸음, 2차) 과제 선정 (중소기업기술정보진흥원 TIPA)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">DEC</td>
                        <td>정보통신기획평가원장 표창 (정보통신기획평가원 IITP, 안기옥 대표)<br>
                        </td>
                    </tr>
                </table>
                <h2 class="section-heading text-center" style="color: #182D56;">2022</h2>
                <table class="table" style="color: #777; font-size:14px;">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 80%;">
                    </colgroup>
                    <tr>
                        <td class="hist_mount">JAN</td>
                        <td>Hawkeye 통합 유지보수 사업 (KBS, 국가기록원, KT Skylife)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">APR</td>
                        <td>2022년 AI바우처 지원사업 수주 (정보통신산업진흥원 NIPA, 공급기업 참여)<br>
                            - "3D 캐릭터 활용 실시간방송을 위한 얼굴/손 포즈 예측 모델 개발" 공급<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">MAY</td>
                        <td>Grand ICT 컨설팅 지원사업 (경희대학교 지능형ICT융합연구센터, 컨설팅 기관)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">JUN</td>
                        <td>2022년 인공지능 학습용 데이터 구축사업 3건 수주 (한국지능정보사회진흥원 NIA, 컨소시엄 참여)<br>
                            - 데이터 정제 및 유효성 검증모델 개발 수행<br>
                            - "3D 사람간 상호작용 데이터" (우수 평가)<br>
                            - "규칙기반 고차원 영상 인식을 위한 데이터"<br>
                            - "야구 경기 규칙 판정 영상 데이터"<br>
                            전문연구사업자 신고 (과학기술정보통신부장관)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">AUG</td>
                        <td>2022년 상반기 성남시 청년고용 우수기업 선정<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">OCT</td>
                        <td>2022 1st Gazzilabs Open Seminar 개최<br>
                            서울특별시 의회 표창 - AI Insight 전문가 (안기옥 대표)<br>
                        </td>
                    </tr>
                </table>
                <!--Edited 20221024 - 장기헌 END-->
                <!--Edited 20251118 - ytcho START-->
                <h2 class="section-heading text-center" style="color: #182D56;">2023</h2>
                <table class="table" style="color: #777; font-size:14px;">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 80%;">
                    </colgroup>
                    <tr>
                        <td class="hist_mount">JAN</td>
                        <td>Patents and Copyrights<br>
                            - 소프트웨어 저작권(컴퓨터프로그램저작물) 등록 1건 (한국저작권위원회, 제C-2023-000934)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">MAR</td>
                        <td>Patents and Copyrights<br>
                            - 특허출원 1건 (특허청, 10-2023-0035926)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">APR</td>
                        <td>지식서비스산업 핵심기술개발 사업 (한국산업기술평가관리원, 컨소시엄 주관)<br>
                            - "화학물질 안전관리용 유해성 검증을 지원하기 위한 AI기반 유해성 분석/평가 기술개발"<br>
                            장애인 스포츠 경기력 향상 기술개발 사업 (한국콘텐츠진흥원 KOCCA, 컨소시엄 참여)<br>
                            - "실감기술을 활용한 보치아 종목 경기력 향상 기술개발"<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">MAY</td>
                        <td>창업도약패키지 지원기업 선정 (창업진흥원, 최우수 졸업)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">JUL</td>
                        <td>2023년 인공지능 학습용 데이터 구축사업 2건 수주 (한국지능정보사회진흥원 NIA, 컨소시엄 참여)<br>
                            - "화학물질(유전독성) 유해성 예측 검증 데이터" (주관, 매우우수 평가)<br>
                            - "야구 경기 규칙 판정 데이터" (우수 평가)<br>
                            Patents and Copyrights<br>
                            - 특허출원 1건 (특허청, 10-2023-0089711)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">AUG</td>
                        <td>Patents and Copyrights<br>
                            - 특허출원 1건 (특허청, 10-2023-0106326)<br>
                        </td>
                    </tr>
                </table>
                <h2 class="section-heading text-center" style="color: #182D56;">2024</h2>
                <table class="table" style="color: #777; font-size:14px;">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 80%;">
                    </colgroup>
                    <tr>
                        <td class="hist_mount">JAN</td>
                        <td>지식서비스산업 핵심기술개발 사업 2차년도 (한국산업기술평가관리원, 컨소시엄 주관)<br>
                            장애인 스포츠 경기력 향상 기술개발 사업 2차년도 (한국콘텐츠진흥원 KOCCA, 컨소시엄 참여)<br>
                            Patents and Copyrights<br>
                            - 소프트웨어 저작권(컴퓨터프로그램저작물) 등록 1건 (한국저작권위원회, 제C-2024-004311)<br>
                            Award Wining<br>
                            - 2023 플레이 스타트업(Play Startup) IR피칭, 안기옥 대표 우수상 수상 (창업진흥원)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">APR</td>
                        <td>본사 및 부설연구소 이전 (안양 > 서울)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">OCT</td>
                        <td>정수장 운영데이터를 활용한 sLLM 기술 연구 및 개발 (한국수자원공사/비즈데이터)<br>
                            - RAG 기반 ChatBot 시스템 구축<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">OCT</td>
                        <td>Award Wining<br>
                            - 서울시 중장년 창업 데모데이 IR피칭, 안기옥 대표 우수상 수상 (서울시50플러스재단/신한라이프)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">DEC</td>
                        <td>Patents and Copyrights<br>
                            - 국내 특허등록 2건 (대한민국 특허청)<br>
                            &nbsp&nbsp"인공지능 기반의 비정형 데이터 분석 장치 및 방법" (1027425150000)<br>
                            &nbsp&nbsp"인공지능 훈련 데이터 선별 장치 및 그의 제어 방법" (1027486620000)<br>
                        </td>
                    </tr>
                </table>
                <h2 class="section-heading text-center" style="color: #182D56;">2025</h2>
                <table class="table" style="color: #777; font-size:14px;">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 80%;">
                    </colgroup>
                    <tr>
                        <td class="hist_mount">JAN</td>
                        <td>지식서비스산업 핵심기술개발 사업 3차년도 (한국산업기술평가관리원, 컨소시엄 주관)<br>
                            Patents and Copyrights<br>
                            - 소프트웨어 저작권(컴퓨터프로그램저작물) 등록 1건 (한국저작권위원회, 제C-2024-004311)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">MAR</td>
                        <td>NIA AI허브 데이터활용 우수기관 선정 (한국지능정보사회진흥원 NIA)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">APR</td>
                        <td>글로벌 기업 협업 프로그램 n-up 선정 (NVIDIA/노틸러스 인베스트먼트)<br>
                            - "LMM을 활용한 대규모 아카이브향 미디어 트랜스크립션 서비스"<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">MAY</td>
                        <td>2025년 AI바우처 지원사업 수주 (정보통신산업진흥원 NIPA, 공급기업 참여)<br>
                            - "방탄 및 차량 경량화용 슈퍼섬유 불량판정 솔루션" 공급<br>
                            빅데이터 플랫폼 기반 분석서비스 지원사업 수주 (한국정보화사회진흥원 NIA, 컨소시엄 참여)<br>
                            Patents and Copyrights<br>
                            - 국내 디자인특허등록 1건 (대한민국 특허청, 제30-1307860호)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">JUN</td>
                        <td>2025년 특허로 R&D 전략지원사업(지재권 연계 연구개발 전략지원) (한국특허전략개발원)<br>
                            국가기록원 세미나 발표 (안기옥 대표)<br>
                            Patents and Copyrights<br>
                            - 해외 특허출원 1건 (미국 특허청 USPTO, 19/224,949)<br>
                            &nbsp&nbsp"APPARATUS AND METHOD FOR UNSTRUCTURED DATA ANALYSIS<br>
                            &nbsp&nbsp&nbspBASED ON ARTIFICIAL INTELLIGENCE"<br>
                            - 국내 디자인특허등록 1건 (대한민국 특허청, 제30-1309688호)<br>
                            - 소프트웨어 저작권(컴퓨터프로그램저작물) 등록 2건 (한국저작권위원회)<br>
                            &nbsp&nbsp제C-2025-023183, 제C-2025-023184<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">SEP</td>
                        <td>국제공동연구 및 국내 산업화 MOU 3건 체결<br>
                            - Cheminformatics 및 Bioinformatics 분야 LLM RAG 활용기술 국제공동연구 (영국 Univ. of Southampton)<br>
                            - 피지컬AI 기반 스마트축산 등 그린바이오 분야 산업화 관련 (전북대학교/올빅)<br>
                            Patents and Copyrights<br>
                            - 국내 디자인특허등록 1건 (대한민국 특허청, 제30-1321697호)<br>
                            - 국내 디자인특허출원 1건 (대한민국 특허청, 30-2025-0035140)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">OCT</td>
                        <td>TIPS IR (호서대학교)<br>
                        </td>
                    </tr>
                    <tr>
                        <td class="hist_mount">NOV</td>
                        <td>Patents and Copyrights<br>
                            - 국내 특허출원 1건 (특허청, 10-2025-0172958)<br>
                            - 소프트웨어 저작권(컴퓨터프로그램저작물) 등록 2건 (한국저작권위원회)<br>
                            &nbsp&nbsp제C-2025-046322, 제C-2025-046377<br>
                        </td>
                    </tr>
                </table>
                <!--Edited 20251118 - ytcho END-->
                <!--add history - END-->
            </div>
        </div>
    </div>
</section>