<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">가치랩스는 데이터 가공, 모델의 훈련, 테스트, 평가, 프로덕션을 지원하는<br>자동화 및 시각화된 통합개발환경을 제공합니다.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Massive Data Refinement</h4>
                    <p class="text-muted">자사 제품에 인공지능 기술 탑재를 원하십니까? 최적화된 모델 훈련을 위한 데이터셋 구축이 필요하십니까? 확보된 원시데이터에 대한 레이블링 및 주석 작성을 위한 비용절감을 고민하고 계십니까? 가치랩스는 자동화된 레이블링 도구와 주석변환도구를 제공하여 작업자의 업무효율을 극대화합니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Automated Training and Evaluation</h4>
                    <p class="text-muted">오디오 및 비디오 데이터로 구성된 대규모 데이터셋을 보다 효과적으로 훈련하고 성능검증을 위한 방법을 찾고 계십니까? 가치랩스만의 IVAP 프레임웍 기반 대규모 미디어 분석 시스템은 최선의 솔루션을 제공합니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI Production</h4>
                    <p class="text-muted">전통적인 머신비젼을 비롯하여 딥러닝 등 인공지능 기술을 자사 제품에 탑재하기를 원하십니까? 가치랩스는 인공지능 구현에 대한 OS 표준 랩퍼를 생성하고 프로토타이핑을 지원하는 비주얼 프로그래밍 환경을 제공합니다.</p>
                </div>
            </div>
        </div>

        <!-- underlying tech. -->
        <div class="container">
            <div>
                <div>
                    <div>
                        <tr>
                            <td width=50%>
                                <h4 class="service-heading">AI life cycle</h4>
                                <img class="img-responsive img-centered" src="img/portfolio/ai_lifecycle_platform_720x480.png" alt="">
                            </td>
                            <td width=50%>
                                <p class="text-muted">인공지능은 오류를 포함합니다. 무조건 많은 데이터가 있으면 좋은 인공지능을 개발 할 수 있는 것은 아닙니다. 대부분 인력 기반 인공지능 훈련 데이터를 생산하고 있는데, 이는 많은 시간과 비용을 필요로 합니다. 우리는 자동화된 대용량 데이터 분석 솔루션과 레이블링 툴을 조합하여, 시간과 비용을 줄이고 높은 품질의 데이터를 생산 할 수 있습니다.</p>
                            </td>
                        </tr>
                    </div>
                </div>
                <div>
                    <div>
                        <h4 class="service-heading">Intelligent Video Analytics Platform</h4>
                        <img class="img-responsive img-centered" src="img/portfolio/ivap_720.png" alt="">
                    </div>
                    <div>
                        <p class="text-muted">가치랩스의 IVAP는 다양한 목적의 디지털 영상 입력 장치에 대한 다채널 실시간 입력 데이터 및 분산 스토리지의 오디오 및 이미지를 포함하는 대규모 디지털 비디오 데이터에 대한 입력 – 분석 – 처리 – 결과 확인에 이르는 라이프사이클에 대응하는 S/W 프레임웍 및 분산처리환경의 통합 플랫폼입니다.</p>
                        <p class="text-muted">IVAP는 주요 지상파 및 IPTV 사업자, 그리고 대규모 아카이브를 운용하는 공공기관 도입을 통해 입증된 대량의 대용량 비디오 및 오디오 데이터 분석 기술을 제공합니다.</p>
                        <p class="text-muted">다년간의 연구개발 및 현장 적용을 통해 기능 확장과 개선을 거듭하여 다양한 운용환경과 목적을 갖는 비디오 및 이미지 분석 시스템의 손쉬운 개발을 지원하며, Seamless한 시스템 확장성과 높은 데이터 처리 효율성을 보장하므로 어떠한 환경에 대해서도 최적의 커스터마이징 가능한 유연한 구조로 국내 주요 방송사업자 및 영상 데이터 취급 기관의 워크플로우를 국내 주요 방송사업자 및 영상 데이터 취급 기관의 워크플로우를 완벽히 지원하고 있습니다.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>