<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">가치랩스는 데이터 가공, 모델의 훈련, 테스트, 평가, 프로덕션을 지원하는<br>자동화 및 시각화된 통합개발환경을 제공합니다.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Massive Data Refinement</h4>
                    <p class="text-muted">자사 제품에 인공지능 기술 탑재를 원하십니까? 최적화된 모델 훈련을 위한 데이터셋 구축이 필요하십니까? 확보된 원시데이터에 대한 레이블링 및 주석 작성을 위한 비용절감을 고민하고 계십니까? 가치랩스는 자동화된 레이블링 도구와 주석변환도구를 제공하여 작업자의 업무효율을 극대화합니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Automated Training and Evaluation</h4>
                    <p class="text-muted">오디오 및 비디오 데이터로 구성된 대규모 데이터셋을 보다 효과적으로 훈련하고 성능검증을 위한 방법을 찾고 계십니까? 가치랩스만의 IVAP 프레임웍 기반 대규모 미디어 분석 시스템은 최선의 솔루션을 제공합니다.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI Production</h4>
                    <p class="text-muted">전통적인 머신비젼을 비롯하여 딥러닝 등 인공지능 기술을 자사 제품에 탑재하기를 원하십니까? 가치랩스는 인공지능 구현에 대한 OS 표준 랩퍼를 생성하고 프로토타이핑을 지원하는 비주얼 프로그래밍 환경을 제공합니다.</p>
                </div>
            </div>
        </div>
    </section>