<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Team</h2>
                <h3 class="section-subheading text-muted">인공지능 및 미디어 기술 전문가들이 뭉쳤습니다!</h3>
            </div>
        </div>


        <div class="row">

            <div class="col-sm-4">
                <div class="team-member" style="position:relative;">
                    <h4>Kiok Ahn, Ph.D.</h4>
                    <p class="text-white">CEO, Founder</p>
                    <img src="img/team/1_bw.jpg" class="img-responsive img-circle" alt="">
                    <p class="text-muted">Machine Learning &amp; Image Processing Specialist</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="team-member">
                    <h4>Youngtak Cho, Ph.D.</h4>
                    <p class="text-white">CTO, Lead AI Application</p>
                    <img src="img/team/2_bw.jpg" class="img-responsive img-circle" alt="">
                    <p class="text-muted">AI &amp; Image Processing, Visual Programming, Developer</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="team-member">
                    <h4>Mingi Kim, M.S.</h4>
                    <p class="text-white">Lead Video Archive Solutions</p>
                    <img src="img/team/3_bw.jpg" class="img-responsive img-circle" alt="">
                    <p class="text-muted">AI &amp; Image Processing, Massive digital media archives, DevOps</p>
                </div>
            </div>

        </div>
    </div>
</section>
